.alert.is-visible
    .container.alert__container
        p.alert__text Pets-Hello use cookies on this site to enhance your user experience. Use of this website and other services constitutes acceptance of the Pets-Hello 
            a(href="#") Terms of Conditions
            |  and 
            a(href="#") Privacy
            |  and 
            a(href="#") Cookie Policy
            | . You can Manage Preferences at any time.
        button.button.alert__close(type="button" aria-label="Close alert") Ok
