footer.footer
    .container.footer__top
        .footer__col.footer__col--4
            .logo.footer__logo
                a.logo__link(href="index.html" aria-label="logo")
                    img.logo__img(src="img/logo.svg" width="160" height="25" alt="logo")
            
            .email.footer__email
                a.email__link(href="mailto:pet4you@gmail.com")
                    .email__pic
                        svg.email__icon(width="22" height="18")
                            use(xlink:href="img/sprite.svg#email")
                    span.email__text pet4you@gmail.com
            
            address.social.footer__social
                ul.social__list
                    li.social__item
                        a.social__link.social__link--facebook(href="#" aria-label="Facebook")
                            svg.social__icon(width="12" height="23")
                                use(xlink:href="img/sprite.svg#facebook")

                    li.social__item
                        a.social__link.social__link--twitter(href="#" aria-label="Twitter")
                            svg.social__icon(width="20" height="23")
                                use(xlink:href="img/sprite.svg#twitter")

                    li.social__item
                        a.social__link.social__link--instagram(href="#" aria-label="Instagram")
                            svg.social__icon(width="20" height="20")
                                use(xlink:href="img/sprite.svg#instagram")

                    li.social__item
                        a.social__link.social__link--linkedin(href="#" aria-label="Linkedin")
                            svg.social__icon(width="15" height="15")
                                use(xlink:href="img/sprite.svg#linkedin")

                    li.social__item
                        a.social__link.social__link--pinterest(href="#" aria-label="Pinterest")
                            svg.social__icon(width="20" height="20")
                                use(xlink:href="img/sprite.svg#pinterest")

                    li.social__item
                        a.social__link.social__link--tiktok(href="#" aria-label="Tiktok")
                            svg.social__icon(width="20" height="23")
                                use(xlink:href="img/sprite.svg#tiktok")
        
        .footer__col.footer__col--3
            h3.footer__title Categories
            nav.footer-menu
                ul.footer-menu__list
                    li.footer-menu__item
                        a.footer-menu__link(href="catalog.html") Cats
                    li.footer-menu__item
                        a.footer-menu__link(href="catalog.html") Dogs
                    li.footer-menu__item
                        a.footer-menu__link(href="catalog.html") Horses
                    li.footer-menu__item
                        a.footer-menu__link(href="catalog.html") Other Pets
                    li.footer-menu__item
                        a.footer-menu__link(href="catalog.html") Accessoires
                    li.footer-menu__item
                        a.footer-menu__link(href="catalog.html") Pet Food
                    li.footer-menu__item
                        a.footer-menu__link(href="catalog.html") Service
                    li.footer-menu__item
                        a.footer-menu__link(href="catalog.html") Lost Animal

        .footer__col.footer__col--3
            h3.footer__title Information
            nav.footer-menu
                ul.footer-menu__list
                    li.footer-menu__item
                        a.footer-menu__link(href="faq.html") FAQ / Support
                    li.footer-menu__item
                        a.footer-menu__link(href="anti-scam.html") ANTI-SCAM
                    li.footer-menu__item
                        a.footer-menu__link(href="contact.html") Contact Us
                    li.footer-menu__item
                        a.footer-menu__link(href="countries.html") Countries
                    li.footer-menu__item
                        a.footer-menu__link(href="blog.html") Blog
                    li.footer-menu__item
                        a.footer-menu__link(href="terms.html") Terms & Conditions
                    li.footer-menu__item
                        a.footer-menu__link(href="privacy.html") Privacy Policy
                    li.footer-menu__item
                        a.footer-menu__link(href="sitemap.html") Sitemap

        .footer__col.footer__col--2
            h3.footer__title My Account
            nav.footer-menu
                ul.footer-menu__list.footer-menu__list--inline-md
                    li.footer-menu__item
                        a.footer-menu__link(href="#" data-modal="modal-login") Log In
                    li.footer-menu__item
                        a.footer-menu__link(href="sign-up.html") Register

    .container.footer__bottom
        .footer__copyright &copy; 2023 Pets-Hello. All Rights Reserved

        .footer__dev Development by
            a.footer__dev-link(href="https://shafem.com/" target="_blank")
                img.footer__dev-img(src="img/shafem.svg" width="151" height="32" alt="Shafem logo")

a.up-button(href="#main" data-scroll)
    svg.up-button__icon(width="16" height="10")
        use(xlink:href="img/sprite.svg#arrow-top")