.mobile-nav
    .mobile-nav__sidebar
        .mobile-nav__inner
            nav.mobile-nav-menu
                ul.mobile-nav-menu__list
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="faq.html") FAQ / Support
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="anti-scam.html") ANTI-SCAM
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="contact.html") Contact Us
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="countries.html") Countries
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="blog.html") Blog
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="terms.html") Terms & Conditions
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="privacy.html") Privacy Policy
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="sitemap.html") Sitemap
