.modal-wrap
    #modal-success.modal.modal--small
        .modal__inner
            .modal__window
                button.modal__close(aria-label="Close modal" data-modal-close type="button")
                    svg.modal__close-icon(width="19" height="19")
                        use(xlink:href="img/sprite.svg#close-modal")

                .modal__content
                    svg.modal__icon(width="114" height="114")
                        use(xlink:href="img/sprite.svg#success")
                    h3.modal__title Message Sent Successfully
                    p.modal__descr We will contact you shortly

    #modal-country.modal.modal--big
        .modal__inner
            .modal__window
                button.modal__close(aria-label="Close modal" data-modal-close type="button")
                    svg.modal__close-icon(width="19" height="19")
                        use(xlink:href="img/sprite.svg#close-modal")

                h3.modal__title Select a Country

                ul.countries-list.countries-list--small.modal__countries-list
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#albania")
                            | Albania

                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#andorra")
                            | Andorra

                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#austria")
                            | Austria

                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#belgium")
                            | Belgium

                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#bosnia")
                            | Bosnia and Herzegovina
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#bulgaria")
                            | Bulgaria
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#croatia")
                            | Croatia
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#czech-republic")
                            | Czech Republic
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#denmark")
                            | Denmark
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#estonia")
                            | Estonia

                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#finland")
                            | Finland
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#france")
                            | France
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#germany")
                            | Germany
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#greece")
                            | Greece
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#hungary")
                            | Hungary
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#iceland")
                            | Iceland
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#ireland")
                            | Ireland
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#italy")
                            | Italy
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#latvia")
                            | Latvia
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#liechtenstein")
                            | Liechtenstein
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#lithuania")
                            | Lithuania
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#luxembourg")
                            | Luxembourg
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#macedonia")
                            | Macedonia
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#malta")
                            | Malta
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#monaco")
                            | Monaco
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#montenegro")
                            | Montenegro
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#netherlands")
                            | Netherlands
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#norway")
                            | Norway
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#poland")
                            | Poland
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#portugal")
                            | Portugal
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#romania")
                            | Romania
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#san-marino")
                            | San Marino
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#slovakia")
                            | Slovakia
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#slovenia")
                            | Slovenia
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#spain")
                            | Spain
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#sweden")
                            | Sweden
                    
                    li.countries-list__item
                        a.countries-list__link(href="#") 
                            svg.countries-list__flag(width="35" height="23")
                                use(xlink:href="img/flags.svg#switzerland")
                            | Switzerland

    #modal-search.modal
        .modal__inner
            .modal__window
                button.modal__close(aria-label="Close modal" data-modal-close type="button")
                    svg.modal__close-icon(width="19" height="19")
                        use(xlink:href="img/sprite.svg#close-modal")

                form.form(id="modal-search-form" autocomplete="off" novalidate="novalidate")
                    h3.form__title Search

                    .form__group
                        select#selectCategoryModal.select(name="selectCategoryModal" aria-label="Category" required)
                            option(value="") Category
                            option(value="1") Cats
                            option(value="2") Dogs
                            option(value="3") Horses
                            option(value="4") Other Pets
                            option(value="5") Accessoires
                            option(value="6") Pet Food
                            option(value="7") Service
                            option(value="8") Lost Animal

                    .form__group
                        input#inputWhatModal.input.form__input(type="text" name="inputWhatModal" placeholder="What?" autocomplete="off" required)

                    .form__group
                        input#inputWhereModal.input.form__input.input--location(type="text" name="inputWhereModal" placeholder="Where?" autocomplete="off" required)

                    .form__group
                        button.button.form__button.form__button--big Search
                            svg.button__icon(width="22" height="22")
                                use(xlink:href="img/sprite.svg#search")

    #modal-login.modal
        .modal__inner
            .modal__window
                button.modal__close(aria-label="Close modal" data-modal-close type="button")
                    svg.modal__close-icon(width="19" height="19")
                        use(xlink:href="img/sprite.svg#close-modal")

                form.form(id="sign-up-form" autocomplete="off" novalidate="novalidate")
                    h3.form__title Sign in
                    
                    ul.form-social
                        li.form-social__item
                            a.form-social__link(href="#")
                                svg.form-social__icon(width="24" height="24")
                                    use(xlink:href="img/sprite.svg#google")
                                span Google
                        
                        li.form-social__item
                            a.form-social__link(href="#")
                                svg.form-social__icon(width="24" height="24")
                                    use(xlink:href="img/sprite.svg#apple")
                                span Apple
                        
                        li.form-social__item
                            a.form-social__link(href="#")
                                svg.form-social__icon(width="24" height="24")
                                    use(xlink:href="img/sprite.svg#facebook-2")
                                span Facebook

                    .form__line
                        span.form__line-text or with email

                    .form__group
                        input#inputEmail.input.form__input(type="email" name="inputEmail" placeholder="Email adress *" autocomplete="off" required)
                    
                    .form__group
                        input#inputPassword.input.form__input(type="password" name="inputPassword" placeholder="Password *" autocomplete="off" required)

                    .form__group.form__group--sb
                        .checkbox
                            input.checkbox__input#checkboxKeep(type="checkbox" name="checkboxKeep" value="true" required)
                            label.checkbox__label(for="checkboxKeep") Keep me logged in

                        a.form__link.yellow-link(href="forgot.html") Forgot password?

                    .form__group
                        picture.form__recaptcha
                            img.form__recaptcha-img(src="img/recaptcha.webp" srcset="img/recaptcha@2x.webp 2x" loading="lazy" width="295" height="77" alt="alt")

                    .form__group
                        button.button.form__button.form__button--big Sign in

                    .form__info Don`t have an account, yet? 
                        a.yellow-link(href="sign-up.html") Sign up
