section.anti-scam-section
    .container.anti-scam-section__container
        h2.anti-scam-section__title Protect yourself against Internet fraud!
        .anti-scam-section__text
            p The vast majority of listings are posted by honest people and trust. So you can do excellent business. 
            p Despite this, it is important to follow a few common sense rules following to prevent any attempt to scam.

        ul.anti-scam-section__list
            li.anti-scam-section__item
                h3.anti-scam-section__sub-title Our advices
                ul.check-list.anti-scam-section__check-list
                    li.check-list__item Doing business with people you can meet in person.
                    li.check-list__item Never send money by Western Union, MoneyGram or other anonymous payment systems.
                    li.check-list__item Never send money or products abroad.
                    li.check-list__item Do not accept checks.
                    li.check-list__item Ask about the person you're dealing with another confirming source name, address and telephone number.
                    li.check-list__item Keep copies of all correspondence (emails, listings, letters, etc.) and details of the person.
                    li.check-list__item If a deal seems too good to be true, there is every chance that this is the case. Refrain.
            
            li.anti-scam-section__item
                h3.anti-scam-section__sub-title Recognize attempted scam
                ul.check-list.anti-scam-section__check-list
                    li.check-list__item The majority of scams have one or more of these characteristics:
                    li.check-list__item The person is abroad or traveling abroad.
                    li.check-list__item The person refuses to meet you in person.
                    li.check-list__item Payment is made through Western Union, Money Gram or check.
                    li.check-list__item The messages are in broken language (English or French or ...).
                    li.check-list__item The texts seem to be copied and pasted.
                    li.check-list__item The deal seems to be too good to be true.
