section.blog-section
    .container.blog-section__container
        nav.blog-tags
            ul.blog-tags__list
                li.blog-tags__item
                    a.blog-tags__link(href="#") General
                
                li.blog-tags__item
                    a.blog-tags__link(href="#") Health
                
                li.blog-tags__item
                    a.blog-tags__link(href="#") Life As A Pet Parent

        ul.blog-section__list
            li.blog-section__item
                .blog-card
                    ul.blog-card__tags
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") General
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") Health
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") Life As A Pet Parent

                    a.blog-card__link(href="blog-page.html")
                        picture.blog-card__picture
                            img.blog-card__img(src="img/blog-img-1.webp" srcset="img/blog-img-1@2x.webp 2x" loading="lazy" width="350" height="251" alt="alt")

                        .blog-card__content
                            h3.blog-card__title How pet parents can get involved in World Cleanup Day
                            .blog-card__descr
                                p Roll up your sleeves on the 16th September, it’s World Cleanup Day 2023! On the 7th anniversary of World Cleanup Day, the organisers are hoping...
                            .blog-card__more Read more
                                svg.blog-card__more-icon(width="6" height="12")
                                    use(xlink:href="img/sprite.svg#arrow-right")

            li.blog-section__item
                .blog-card
                    ul.blog-card__tags
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") General
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") Health
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") Life As A Pet Parent

                    a.blog-card__link(href="blog-page.html")
                        picture.blog-card__picture
                            img.blog-card__img(src="img/blog-img-2.webp" srcset="img/blog-img-2@2x.webp 2x" loading="lazy" width="350" height="251" alt="alt")

                        .blog-card__content
                            h3.blog-card__title How pet parents can get involved in World Cleanup Day
                            .blog-card__descr
                                p Roll up your sleeves on the 16th September, it’s World Cleanup Day 2023! On the 7th anniversary of World Cleanup Day, the organisers are hoping...
                            .blog-card__more Read more
                                svg.blog-card__more-icon(width="6" height="12")
                                    use(xlink:href="img/sprite.svg#arrow-right")

            li.blog-section__item
                .blog-card
                    ul.blog-card__tags
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") General
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") Health
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") Life As A Pet Parent

                    a.blog-card__link(href="blog-page.html")
                        picture.blog-card__picture
                            img.blog-card__img(src="img/blog-img-3.webp" srcset="img/blog-img-3@2x.webp 2x" loading="lazy" width="350" height="251" alt="alt")

                        .blog-card__content
                            h3.blog-card__title How pet parents can get involved in World Cleanup Day
                            .blog-card__descr
                                p Roll up your sleeves on the 16th September, it’s World Cleanup Day 2023! On the 7th anniversary of World Cleanup Day, the organisers are hoping...
                            .blog-card__more Read more
                                svg.blog-card__more-icon(width="6" height="12")
                                    use(xlink:href="img/sprite.svg#arrow-right")

            li.blog-section__item
                .blog-card
                    ul.blog-card__tags
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") General
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") Health
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") Life As A Pet Parent

                    a.blog-card__link(href="blog-page.html")
                        picture.blog-card__picture
                            img.blog-card__img(src="img/blog-img-1.webp" srcset="img/blog-img-1@2x.webp 2x" loading="lazy" width="350" height="251" alt="alt")

                        .blog-card__content
                            h3.blog-card__title How pet parents can get involved in World Cleanup Day
                            .blog-card__descr
                                p Roll up your sleeves on the 16th September, it’s World Cleanup Day 2023! On the 7th anniversary of World Cleanup Day, the organisers are hoping...
                            .blog-card__more Read more
                                svg.blog-card__more-icon(width="6" height="12")
                                    use(xlink:href="img/sprite.svg#arrow-right")

            li.blog-section__item
                .blog-card
                    ul.blog-card__tags
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") General
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") Health
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") Life As A Pet Parent

                    a.blog-card__link(href="blog-page.html")
                        picture.blog-card__picture
                            img.blog-card__img(src="img/blog-img-2.webp" srcset="img/blog-img-2@2x.webp 2x" loading="lazy" width="350" height="251" alt="alt")

                        .blog-card__content
                            h3.blog-card__title How pet parents can get involved in World Cleanup Day
                            .blog-card__descr
                                p Roll up your sleeves on the 16th September, it’s World Cleanup Day 2023! On the 7th anniversary of World Cleanup Day, the organisers are hoping...
                            .blog-card__more Read more
                                svg.blog-card__more-icon(width="6" height="12")
                                    use(xlink:href="img/sprite.svg#arrow-right")

            li.blog-section__item
                .blog-card
                    ul.blog-card__tags
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") General
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") Health
                        li.blog-card__tags-item
                            a.blog-card__tags-link(href="#") Life As A Pet Parent

                    a.blog-card__link(href="blog-page.html")
                        picture.blog-card__picture
                            img.blog-card__img(src="img/blog-img-3.webp" srcset="img/blog-img-3@2x.webp 2x" loading="lazy" width="350" height="251" alt="alt")

                        .blog-card__content
                            h3.blog-card__title How pet parents can get involved in World Cleanup Day
                            .blog-card__descr
                                p Roll up your sleeves on the 16th September, it’s World Cleanup Day 2023! On the 7th anniversary of World Cleanup Day, the organisers are hoping...
                            .blog-card__more Read more
                                svg.blog-card__more-icon(width="6" height="12")
                                    use(xlink:href="img/sprite.svg#arrow-right")

        nav.pagenav.news-section__pagenav(aria-label="Page navigation")
            ul.pagenav__list
                li.pagenav__item
                    a.pagenav__arrow(href="#" aria-label="Previous")
                        svg.pagenav__icon(width="6" height="12")
                            use(xlink:href="img/sprite.svg#arrow-left")
                li.pagenav__item.is-active(aria-current="page")
                    a.pagenav__link(href="#") 1
                li.pagenav__item
                    a.pagenav__link(href="#") 2
                li.pagenav__item
                    span ...
                li.pagenav__item
                    a.pagenav__link(href="#") 7
                li.pagenav__item
                    a.pagenav__arrow(href="#" aria-label="Next")
                        svg.pagenav__icon(width="6" height="12")
                            use(xlink:href="img/sprite.svg#arrow-right")
