section.blog-page-section
    .container.blog-page-section__container
        nav.blog-tags
            ul.blog-tags__list
                li.blog-tags__item
                    a.blog-tags__link(href="#") General
                
                li.blog-tags__item
                    a.blog-tags__link(href="#") Health
                
                li.blog-tags__item
                    a.blog-tags__link(href="#") Life As A Pet Parent

        .blog-page-section__text
            img.blog-page-section__img.blog-page-section__img--right(src="img/blog-page-img-1.webp" srcset="img/blog-page-img-1@2x.webp 2x" loading="lazy" width="635" height="456"  alt="alt")

            .blog-page-section__date
                svg.blog-page-section__date-icon(width="17" height="19")
                    use(xlink:href="img/sprite.svg#date")
                | 13 September 2023
            
            p Roll up your sleeves on 16th September, it’s World Cleanup Day 2023! On the 7th anniversary of World Cleanup Day, the organisers are hoping to go bigger and better than ever before. As a species we’re creating insane amounts of waste, and so much of it is plastic. As a dog owner you can help - read on to learn about how you can get involved!
            h3 Join a cleanup
            p Check your local area to see if there’s a cleanup happening in your neighbourhood and join in. These cleanups can be super fun and a nice way to meet new people and talk about issues close to your heart. Make sure it’s a dog-friendly event (although we don’t see why it wouldn’t be), grab your gloves and go!
            h3 Organise a (dog-friendly) cleanup
            p If you notice there’s no event happening in your area, create one! World Cleanup Day provides an awesome toolkit and marketing materials to help you make the event a success. Get together with some of your dog-walking pals and maximise your walks whilst collecting rubbish. You could even get the dogs involved if they’re good at fetching items and bringing them back!
            h3 Keep an eye out for butts
            p As a dog owner, you’re no doubt only used to keeping an eye on your pooch’s butt, but (no pun intended!), to help the cleanup effort, keep an eye out for cigarette butts. There are around 6 trillion of them out there so chances are you may come across a few. They’re one of the worst forms of plastic pollution globally and it seems to be socially acceptable to chuck them in most places. They’re really damaging to the environment, so on your dog walks keep your eyes peeled for butts and of course it goes without saying that you don’t need to wait for World Cleanup Day!
            h3 Dog walk your way to a cleaner planet
            p Yes, 16th September is World Cleanup Day but why on earth would we limit our efforts to one day? Make it a habit to take gloves and a trash bag with you on dog walks if you regularly notice rubbish strewn on your walking route. It might extend your walk slightly but that’s good for you and good for your four-legged friend, right? It’ll also give you a sense of doing something proactive, and if others see you doing it, they’re likely to follow suit. Boom - you’re a changemaker!
            
            img.blog-page-section__img.blog-page-section__img--left(src="img/blog-page-img-2.webp" srcset="img/blog-page-img-2@2x.webp 2x" loading="lazy" width="635" height="398"  alt="alt")

            h3 Raise awareness
            p If you notice major plastic or waste pollution on your dog walks, and feel it’s just too big a job for one person, start drawing your community’s attention to it. Post in local online groups, lobby your local politicians to take action against the polluters, otherwise no amount of clean up activities will prevent it long term. It’s easy to believe that the responsibility lies elsewhere but until we start to demand change as citizens, it will never happen.
            p They say it takes 30 days to change a habit. World Cleanup Day could kick-start a new habit of dog walking with a purpose. Start to take the necessary items with you to be able to do a litter pick on your morning dog walk, get others involved and start a clean up community. We’re all connected - a happy environment equals happy people (and dogs!).
