section.choose-section
    .container.choose-section__container

        .choose-region
            .choose-region__header.choose-region__header--visible-lg
                h2.section-title.choose-region__title Choose 
                    span a City or Region
                
                button.button.choose-region__button(type="button") Create listing

            .choose-region__inner
                picture.choose-region__picture
                    img.choose-region__img(src="img/map-img.webp" srcset="img/map-img@2x.webp 2x" loading="lazy" width="389" height="332"  alt="alt")

                .choose-region__content
                    .choose-region__header.choose-region__header--hidden-lg
                        h2.section-title.choose-region__title Choose 
                            span a City or Region
                        
                        button.button.choose-region__button(type="button") Create listing

                    ul.choose-region__list
                        li.choose-region__item
                            a.choose-region__link(href="#") London
                        li.choose-region__item
                            a.choose-region__link(href="#") Birmingham
                        li.choose-region__item
                            a.choose-region__link(href="#") Liverpool
                        li.choose-region__item
                            a.choose-region__link(href="#") Sheffield
                        li.choose-region__item
                            a.choose-region__link(href="#") Bristol
                        li.choose-region__item
                            a.choose-region__link(href="#") Glasgow
                        li.choose-region__item
                            a.choose-region__link(href="#") Leicester
                        li.choose-region__item
                            a.choose-region__link(href="#") Edinburgh
                        li.choose-region__item
                            a.choose-region__link(href="#") Leeds
                        li.choose-region__item
                            a.choose-region__link(href="#") Cardiff
                        li.choose-region__item
                            a.choose-region__link(href="#") Manchester
                        li.choose-region__item
                            a.choose-region__link(href="#") Stoke-on-Trent
                        li.choose-region__item
                            a.choose-region__link(href="#") Coventry
                        li.choose-region__item
                            a.choose-region__link(href="#") Sunderland
                        li.choose-region__item
                            a.choose-region__more-link(href="countries.html")
                                span More cities
                                svg(width="8" height="16")
                                    use(xlink:href="img/sprite.svg#arrow-right")
