section.countries-section
    .container.countries-section__container
        h2.section-title.countries-section__title Select  
            span a country
        
        ul.countries-list
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#albania")
                    | Albania

            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#andorra")
                    | Andorra

            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#austria")
                    | Austria

            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#belgium")
                    | Belgium

            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#bosnia")
                    | Bosnia and Herzegovina
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#bulgaria")
                    | Bulgaria
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#croatia")
                    | Croatia
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#czech-republic")
                    | Czech Republic
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#denmark")
                    | Denmark
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#estonia")
                    | Estonia

            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#finland")
                    | Finland
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#france")
                    | France
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#germany")
                    | Germany
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#greece")
                    | Greece
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#hungary")
                    | Hungary
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#iceland")
                    | Iceland
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#ireland")
                    | Ireland
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#italy")
                    | Italy
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#latvia")
                    | Latvia
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#liechtenstein")
                    | Liechtenstein
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#lithuania")
                    | Lithuania
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#luxembourg")
                    | Luxembourg
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#macedonia")
                    | Macedonia
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#malta")
                    | Malta
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#monaco")
                    | Monaco
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#montenegro")
                    | Montenegro
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#netherlands")
                    | Netherlands
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#norway")
                    | Norway
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#poland")
                    | Poland
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#portugal")
                    | Portugal
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#romania")
                    | Romania
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#san-marino")
                    | San Marino
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#slovakia")
                    | Slovakia
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#slovenia")
                    | Slovenia
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#spain")
                    | Spain
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#sweden")
                    | Sweden
            
            li.countries-list__item
                a.countries-list__link(href="#") 
                    svg.countries-list__flag(width="35" height="23")
                        use(xlink:href="img/flags.svg#switzerland")
                    | Switzerland
