section.details-section
    .container.details-section__container
        .details-section__row
            .details-section__left
                #gallery.gallery
                    .swiper.gallery-slider
                        .swiper-wrapper
                            .swiper-slide.gallery-slider__slide
                                a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="1100" data-pswp-height="870") 
                                    picture.gallery-slider__picture
                                        img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="550" height="435"  alt="alt")
                            
                            .swiper-slide.gallery-slider__slide
                                a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="1100" data-pswp-height="870") 
                                    picture.gallery-slider__picture
                                        img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="550" height="435"  alt="alt")
                            
                            .swiper-slide.gallery-slider__slide
                                a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="1100" data-pswp-height="870") 
                                    picture.gallery-slider__picture
                                        img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="550" height="435"  alt="alt")
                            
                            .swiper-slide.gallery-slider__slide
                                a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="1100" data-pswp-height="870") 
                                    picture.gallery-slider__picture
                                        img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="550" height="435"  alt="alt")
                                        
                            .swiper-slide.gallery-slider__slide
                                a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="1100" data-pswp-height="870") 
                                    picture.gallery-slider__picture
                                        img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="550" height="435"  alt="alt")
                            
                            .swiper-slide.gallery-slider__slide
                                a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="1100" data-pswp-height="870") 
                                    picture.gallery-slider__picture
                                        img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="550" height="435"  alt="alt")
                            
                            .swiper-slide.gallery-slider__slide
                                a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="1100" data-pswp-height="870") 
                                    picture.gallery-slider__picture
                                        img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="550" height="435"  alt="alt")
                            
                            .swiper-slide.gallery-slider__slide
                                a.gallery-slider__link(href="img/gallery-img@2x.webp" data-pswp-width="1100" data-pswp-height="870") 
                                    picture.gallery-slider__picture
                                        img.gallery-slider__img(src="img/gallery-img.webp" srcset="img/gallery-img@2x.webp 2x" loading="lazy" width="550" height="435"  alt="alt")

                    button.gallery-slider__prev(type="button" aria-label="previous slide")
                        svg.gallery-slider__prev-icon(width="8" height="16")
                            use(xlink:href="img/sprite.svg#arrow-left")

                    button.gallery-slider__next(type="button" aria-label="next slide")
                        svg.gallery-slider__next-icon(width="8" height="16")
                            use(xlink:href="img/sprite.svg#arrow-right")

                    .swiper.gallery-thumbs
                        .swiper-wrapper
                            .swiper-slide.gallery-thumbs__slide
                                picture.gallery-thumbs__picture
                                    img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="121" height="91"  alt="alt")
                            
                            .swiper-slide.gallery-thumbs__slide
                                picture.gallery-thumbs__picture
                                    img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="121" height="91"  alt="alt")
                            
                            .swiper-slide.gallery-thumbs__slide
                                picture.gallery-thumbs__picture
                                    img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="121" height="91"  alt="alt")
                            
                            .swiper-slide.gallery-thumbs__slide
                                picture.gallery-thumbs__picture
                                    img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="121" height="91"  alt="alt")

                            .swiper-slide.gallery-thumbs__slide
                                picture.gallery-thumbs__picture
                                    img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="121" height="91"  alt="alt")
                            
                            .swiper-slide.gallery-thumbs__slide
                                picture.gallery-thumbs__picture
                                    img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="121" height="91"  alt="alt")
                            
                            .swiper-slide.gallery-thumbs__slide
                                picture.gallery-thumbs__picture
                                    img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="121" height="91"  alt="alt")
                            
                            .swiper-slide.gallery-thumbs__slide
                                picture.gallery-thumbs__picture
                                    img.gallery-thumbs__img(src="img/gallery-img-thumb.webp" srcset="img/gallery-img-thumb@2x.webp 2x" loading="lazy" width="121" height="91"  alt="alt")
       
            .details-section__right
                ul.details-section__list
                    li.details-section__item
                        .details-section__price 120 $
                    
                    li.details-section__item
                        button.button.details-section__button(type="button") Message

                    li.details-section__item
                        .show-number
                            button.button.show-number__button.is-visible(type="button" data-show-number) Show phone number
                            a.show-number__phone(href="tel:02030000000") (020) 3000 0000
                
                .user-card
                    .user-card__header
                        picture.user-card__picture
                            img.user-card__img(src="img/avatar.webp" srcset="img/avatar@2x.webp 2x" loading="lazy" width="83" height="83" alt="alt")
                        
                        .user-card__descr
                            .user-card__row
                                h3.user-card__name Larysa Larysa
                                button.button.user-card__wish(type="button" data-wish-toggle aria-label="Add to wish list")
                                    svg.user-card__wish-icon(width="22" height="21")
                                        use(xlink:href="img/sprite.svg#heart")

                            ul.user-card__info
                                li.user-card__info-item
                                    svg.user-card__info-flag(width="22" height="14")
                                        use(xlink:href="img/flags.svg#gb")
                                    | England
                                
                                li.user-card__info-item
                                    svg.user-card__info-icon(width="14" height="18")
                                        use(xlink:href="img/sprite.svg#location")
                                    | Sheffield

                                li.user-card__info-item
                                    svg.user-card__info-icon(width="15" height="15")
                                        use(xlink:href="img/sprite.svg#clock")
                                    | 12 days

                                li.user-card__info-item Member since: 
                                    strong 3 years

                    .user-card__body
                        p Licence No.: 
                            strong 20/03536/ANIMAL
                        p Local Authority: 
                            strong North East Derbyshire District Council
                    
                    .user-card__footer
                        h4.user-card__sub-title Verified by:

                        ul.check-list.check-list--light-blue.user-card__verified
                            li.check-list__item Phone
                            li.check-list__item Email
                            li.check-list__item Google
        
        .details-section__descr
            h3 Description
            p Here at Hillside paws for life we are a family run council licensed Dog Breeders in the lovely Derbyshire countryside.
            p Our Puppies are raised with great care and attention and we pride ourselves in creating the beat Puppies for Families like you. Please visit our website www.hillsidepawsforlife.co.uk to read about our 5* maternity ward. You can also visit our Youtube channel, Facebook and Instagram
            p This is our adorable litter of Cockapoochon Puppies, Mum is Hallie our Poochon and Dad is our very well know Nugget who is a Toy Cockapoo and he is fully health tested. Mum and Dad are both lovely dogs with fantastic temperaments.
            hr
            p
                strong Pets-hello Safety Advice:
                |  You MUST read our buyer's checklist before contacting the advertiser.