section.error-section
    picture.error-section__bg
        img.error-section__bg-img(src="img/404-img.webp" srcset="img/404-img@2x.webp 2x" loading="lazy" width="1014" height="700"  alt="alt")

    .container.error-section__container
        .error-section__content
            svg.error-section__icon(width="393" height="154")
                use(xlink:href="img/sprite.svg#error-404")

            h1.error-section__title Page not found
            
            a.button.error-section__button(href="#") Back to main
