section.header-section
    .container.header-section__container
        h1.page-title.header-section__title Faq

        nav.breadcrumbs.header-section__breadcrumbs(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Home
                li.breadcrumbs__item(aria-current="page") Faq
