section.faq-section
    .container.faq-section__container
        h2.section-title.faq-section__title Frequently 
            span Asked Questions

        ul.faq-section__list
            li.faq-section__item
                .accordion.is-open
                    button.accordion__toggle(type="button" aria-expanded="false") How do I place an ad?
                        svg.accordion__icon(width="16" height="8")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
                    
                    .accordion__content(aria-hidden="true")
                        .accordion__text
                            p In general, an listing is automatically deactivated from the website after 3 months. You will receive an email a week before D-Day and another on the day of deactivation. You have the ability to put them online in the following month by logging into your account on the site. After this delay, your listing will be automatically removed permanently from the website.

            li.faq-section__item
                .accordion
                    button.accordion__toggle(type="button" aria-expanded="false") What does it cost to advertise?
                        svg.accordion__icon(width="16" height="8")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
                    
                    .accordion__content(aria-hidden="true")
                        .accordion__text
                            p Fish text is a text that performs an exclusively utilitarian function?
                            p Fish text is a text that performs an exclusively utilitarian function?
                            p Fish text is a text that performs an exclusively utilitarian function?

            li.faq-section__item
                .accordion
                    button.accordion__toggle(type="button" aria-expanded="false") If I post an listing, will I also get more spam e-mails?
                        svg.accordion__icon(width="16" height="8")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
                    
                    .accordion__content(aria-hidden="true")
                        .accordion__text
                            p Fish text is a text that performs an exclusively utilitarian function?
                            p Fish text is a text that performs an exclusively utilitarian function?
                            p Fish text is a text that performs an exclusively utilitarian function?

            li.faq-section__item
                .accordion
                    button.accordion__toggle(type="button" aria-expanded="false") How long will my listing remain on the website?
                        svg.accordion__icon(width="16" height="8")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
                    
                    .accordion__content(aria-hidden="true")
                        .accordion__text
                            p Fish text is a text that performs an exclusively utilitarian function?
                            p Fish text is a text that performs an exclusively utilitarian function?
                            p Fish text is a text that performs an exclusively utilitarian function?
            
            li.faq-section__item
                .accordion
                    button.accordion__toggle(type="button" aria-expanded="false") I sold my item. How do I delete my ad?
                        svg.accordion__icon(width="16" height="8")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
                    
                    .accordion__content(aria-hidden="true")
                        .accordion__text
                            p Fish text is a text that performs an exclusively utilitarian function?
                            p Fish text is a text that performs an exclusively utilitarian function?
                            p Fish text is a text that performs an exclusively utilitarian function?
