section.menu-section
    .menu-section__inner
        .container.menu-section__container
            h2.section-title.menu-section__title Categories

            nav.menu.menu-section__menu
                ul.menu__list
                    li.menu__item
                        a.menu__link(href="catalog.html")
                            picture.menu__picture
                                img.menu__img(src="img/category-img-1.webp" srcset="img/category-img-1@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                            
                            h3.menu__title Cats
                    
                    li.menu__item
                        a.menu__link(href="catalog.html")
                            picture.menu__picture
                                img.menu__img(src="img/category-img-2.webp" srcset="img/category-img-2@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                            
                            h3.menu__title Dogs
                    
                    li.menu__item
                        a.menu__link(href="catalog.html")
                            picture.menu__picture
                                img.menu__img(src="img/category-img-3.webp" srcset="img/category-img-3@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                            
                            h3.menu__title Horses
                    
                    li.menu__item
                        a.menu__link(href="catalog.html")
                            picture.menu__picture
                                img.menu__img(src="img/category-img-4.webp" srcset="img/category-img-4@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                            
                            h3.menu__title Other Pets
                        
                    li.menu__item
                        a.menu__link(href="catalog.html")
                            picture.menu__picture
                                img.menu__img(src="img/category-img-5.webp" srcset="img/category-img-5@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                            
                            h3.menu__title Accessoires
                    
                    li.menu__item
                        a.menu__link(href="catalog.html")
                            picture.menu__picture
                                img.menu__img(src="img/category-img-6.webp" srcset="img/category-img-6@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                            
                            h3.menu__title Pet Food
                    
                    li.menu__item
                        a.menu__link(href="catalog.html")
                            picture.menu__picture
                                img.menu__img(src="img/category-img-7.webp" srcset="img/category-img-7@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                            
                            h3.menu__title Service
                    
                    li.menu__item
                        a.menu__link(href="catalog.html")
                            picture.menu__picture
                                img.menu__img(src="img/category-img-8.webp" srcset="img/category-img-8@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                            
                            h3.menu__title Lost Animal
