section.pop-categories-section
    .container.pop-categories-section__container
        h2.section-title.pop-categories-section__title Popular 
            span Categories
        
        ul.pop-categories-section__list
            li.pop-categories-section__item
                .pop-categories-card
                    .pop-categories-card__header
                        h3.pop-categories-card__title Puppies for sale
                        picture.pop-categories-card__picture
                            img.pop-categories-card__img(src="img/category-img-2.webp" srcset="img/category-img-2@2x.webp 2x" loading="lazy" width="62" height="62"  alt="alt")
                    
                    .pop-categories-card__body
                        ul.pop-categories-card__list
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Border Collie for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cavapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Chihuahua for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cockapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cocker Spaniel for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Dachshund for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") English Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") French Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") German Shepherd for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Labrador Retriever for sale
            
            li.pop-categories-section__item
                .pop-categories-card
                    .pop-categories-card__header
                        h3.pop-categories-card__title Kittens and cats for sale
                        picture.pop-categories-card__picture
                            img.pop-categories-card__img(src="img/category-img-1.webp" srcset="img/category-img-1@2x.webp 2x" loading="lazy" width="62" height="62"  alt="alt")
                    
                    .pop-categories-card__body
                        ul.pop-categories-card__list
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Border Collie for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cavapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Chihuahua for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cockapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cocker Spaniel for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Dachshund for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") English Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") French Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") German Shepherd for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Labrador Retriever for sale

            li.pop-categories-section__item
                .pop-categories-card
                    .pop-categories-card__header
                        h3.pop-categories-card__title Horses for sale
                        picture.pop-categories-card__picture
                            img.pop-categories-card__img(src="img/category-img-3.webp" srcset="img/category-img-3@2x.webp 2x" loading="lazy" width="62" height="62"  alt="alt")
                    
                    .pop-categories-card__body
                        ul.pop-categories-card__list
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Border Collie for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cavapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Chihuahua for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cockapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cocker Spaniel for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Dachshund for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") English Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") French Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") German Shepherd for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Labrador Retriever for sale
            
            li.pop-categories-section__item
                .pop-categories-card
                    .pop-categories-card__header
                        h3.pop-categories-card__title Services
                        picture.pop-categories-card__picture
                            img.pop-categories-card__img(src="img/category-img-7.webp" srcset="img/category-img-7@2x.webp 2x" loading="lazy" width="62" height="62"  alt="alt")
                    
                    .pop-categories-card__body
                        ul.pop-categories-card__list
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Border Collie for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cavapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Chihuahua for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cockapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cocker Spaniel for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Dachshund for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") English Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") French Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") German Shepherd for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Labrador Retriever for sale
            
            li.pop-categories-section__item
                .pop-categories-card
                    .pop-categories-card__header
                        h3.pop-categories-card__title Other Pets
                        picture.pop-categories-card__picture
                            img.pop-categories-card__img(src="img/category-img-4.webp" srcset="img/category-img-4@2x.webp 2x" loading="lazy" width="62" height="62"  alt="alt")
                    
                    .pop-categories-card__body
                        ul.pop-categories-card__list
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Border Collie for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cavapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Chihuahua for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cockapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cocker Spaniel for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Dachshund for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") English Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") French Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") German Shepherd for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Labrador Retriever for sale
            
            li.pop-categories-section__item
                .pop-categories-card
                    .pop-categories-card__header
                        h3.pop-categories-card__title Accessoires
                        picture.pop-categories-card__picture
                            img.pop-categories-card__img(src="img/category-img-5.webp" srcset="img/category-img-5@2x.webp 2x" loading="lazy" width="62" height="62"  alt="alt")
                    
                    .pop-categories-card__body
                        ul.pop-categories-card__list
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Border Collie for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cavapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Chihuahua for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cockapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cocker Spaniel for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Dachshund for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") English Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") French Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") German Shepherd for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Labrador Retriever for sale
            
            li.pop-categories-section__item
                .pop-categories-card
                    .pop-categories-card__header
                        h3.pop-categories-card__title Pet Food
                        picture.pop-categories-card__picture
                            img.pop-categories-card__img(src="img/category-img-6.webp" srcset="img/category-img-6@2x.webp 2x" loading="lazy" width="62" height="62"  alt="alt")
                    
                    .pop-categories-card__body
                        ul.pop-categories-card__list
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Border Collie for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cavapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Chihuahua for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cockapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cocker Spaniel for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Dachshund for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") English Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") French Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") German Shepherd for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Labrador Retriever for sale
            
            li.pop-categories-section__item
                .pop-categories-card
                    .pop-categories-card__header
                        h3.pop-categories-card__title Lost Animal
                        picture.pop-categories-card__picture
                            img.pop-categories-card__img(src="img/category-img-8.webp" srcset="img/category-img-8@2x.webp 2x" loading="lazy" width="62" height="62"  alt="alt")
                    
                    .pop-categories-card__body
                        ul.pop-categories-card__list
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Border Collie for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cavapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Chihuahua for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cockapoo for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Cocker Spaniel for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Dachshund for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") English Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") French Bulldog for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") German Shepherd for sale
                            li.pop-categories-card__item
                                a.pop-categories-card__link(href="#") Labrador Retriever for sale