section.recommended-section.recommended-section--white
    .container.recommended-section__container
        header.recommended-section__header
            h2.section-title.recommended-section__title Recommended 
                span Products

            a.button.recommended-section__button.recommended-section__button--hidden-md(href="catalog.html") See all
                svg.button__icon(width="8" height="14")
                    use(xlink:href="img/sprite.svg#arrow-right")

        ul.recommended-section__list
            li.recommended-section__item
                a.product-card(href="details.html")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="255" height="202"  alt="alt")
                    
                    .product-card__tag Top

                    .product-card__content
                        ul.product-card__info
                            li.product-card__info-item
                                svg.product-card__info-flag(width="22" height="14")
                                    use(xlink:href="img/flags.svg#gb")
                                | England
                            
                            li.product-card__info-item
                                svg.product-card__info-icon(width="14" height="18")
                                    use(xlink:href="img/sprite.svg#location")
                                | Sheffield

                        h3.product-card__title Gorgeous Cockapoo Girl
                        .product-card__price 120 $

            li.recommended-section__item
                a.product-card(href="details.html")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img-2.webp" srcset="img/product-img-2@2x.webp 2x" loading="lazy" width="255" height="202"  alt="alt")
                    
                    .product-card__content
                        ul.product-card__info
                            li.product-card__info-item
                                svg.product-card__info-flag(width="22" height="14")
                                    use(xlink:href="img/flags.svg#austria")
                                | Austria
                            
                            li.product-card__info-item
                                svg.product-card__info-icon(width="14" height="18")
                                    use(xlink:href="img/sprite.svg#location")
                                | Sheffield

                        h3.product-card__title Gorgeous Cockapoo Girl
                        .product-card__price 120 $

            li.recommended-section__item
                a.product-card(href="details.html")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img-3.webp" srcset="img/product-img-3@2x.webp 2x" loading="lazy" width="255" height="202"  alt="alt")
                    
                    .product-card__tag Top

                    .product-card__content
                        ul.product-card__info
                            li.product-card__info-item
                                svg.product-card__info-flag(width="22" height="14")
                                    use(xlink:href="img/flags.svg#belgium")
                                | Belgium
                            
                            li.product-card__info-item
                                svg.product-card__info-icon(width="14" height="18")
                                    use(xlink:href="img/sprite.svg#location")
                                | Sheffield

                        h3.product-card__title Gorgeous Cockapoo Girl
                        .product-card__price 120 $

            li.recommended-section__item
                a.product-card(href="details.html")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img-2.webp" srcset="img/product-img-2@2x.webp 2x" loading="lazy" width="255" height="202"  alt="alt")
                    
                    .product-card__content
                        ul.product-card__info
                            li.product-card__info-item
                                svg.product-card__info-flag(width="22" height="14")
                                    use(xlink:href="img/flags.svg#bosnia")
                                | Bosnia
                            
                            li.product-card__info-item
                                svg.product-card__info-icon(width="14" height="18")
                                    use(xlink:href="img/sprite.svg#location")
                                | Sheffield

                        h3.product-card__title Gorgeous Cockapoo Girl
                        .product-card__price 120 $

            li.recommended-section__item
                a.product-card(href="details.html")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="255" height="202"  alt="alt")
                    
                    .product-card__tag Top

                    .product-card__content
                        ul.product-card__info
                            li.product-card__info-item
                                svg.product-card__info-flag(width="22" height="14")
                                    use(xlink:href="img/flags.svg#gb")
                                | England
                            
                            li.product-card__info-item
                                svg.product-card__info-icon(width="14" height="18")
                                    use(xlink:href="img/sprite.svg#location")
                                | Sheffield

                        h3.product-card__title Gorgeous Cockapoo Girl
                        .product-card__price 120 $

            li.recommended-section__item
                a.product-card(href="details.html")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img-2.webp" srcset="img/product-img-2@2x.webp 2x" loading="lazy" width="255" height="202"  alt="alt")
                    
                    .product-card__content
                        ul.product-card__info
                            li.product-card__info-item
                                svg.product-card__info-flag(width="22" height="14")
                                    use(xlink:href="img/flags.svg#gb")
                                | England
                            
                            li.product-card__info-item
                                svg.product-card__info-icon(width="14" height="18")
                                    use(xlink:href="img/sprite.svg#location")
                                | Sheffield

                        h3.product-card__title Gorgeous Cockapoo Girl
                        .product-card__price 120 $

            li.recommended-section__item
                a.product-card(href="details.html")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img-3.webp" srcset="img/product-img-3@2x.webp 2x" loading="lazy" width="255" height="202"  alt="alt")
                    
                    .product-card__tag Top

                    .product-card__content
                        ul.product-card__info
                            li.product-card__info-item
                                svg.product-card__info-flag(width="22" height="14")
                                    use(xlink:href="img/flags.svg#gb")
                                | England
                            
                            li.product-card__info-item
                                svg.product-card__info-icon(width="14" height="18")
                                    use(xlink:href="img/sprite.svg#location")
                                | Sheffield

                        h3.product-card__title Gorgeous Cockapoo Girl
                        .product-card__price 120 $

            li.recommended-section__item
                a.product-card(href="details.html")
                    picture.product-card__picture
                        img.product-card__img(src="img/product-img-2.webp" srcset="img/product-img-2@2x.webp 2x" loading="lazy" width="255" height="202"  alt="alt")
                    
                    .product-card__content
                        ul.product-card__info
                            li.product-card__info-item
                                svg.product-card__info-flag(width="22" height="14")
                                    use(xlink:href="img/flags.svg#gb")
                                | England
                            
                            li.product-card__info-item
                                svg.product-card__info-icon(width="14" height="18")
                                    use(xlink:href="img/sprite.svg#location")
                                | Sheffield

                        h3.product-card__title Gorgeous Cockapoo Girl
                        .product-card__price 120 $

        a.button.recommended-section__button.recommended-section__button--visible-md(href="catalog.html") See all
            svg.button__icon(width="8" height="14")
                use(xlink:href="img/sprite.svg#arrow-right")
