section.header-section
    picture.header-section__left-bg
        img.header-section__left-bg-img(src="img/sitemap-img-1.webp" srcset="img/sitemap-img-1@2x.webp 2x" loading="lazy" width="320" height="188"  alt="alt")

    .container.header-section__container
        h1.page-title.header-section__title Sitemap

        nav.breadcrumbs.header-section__breadcrumbs(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Home
                li.breadcrumbs__item(aria-current="page") Sitemap
