section.sitemap-section
    .container.sitemap-section__container
        h2.section-title.sitemap-section__title List of Categories 
            span and Sub-categories

        nav.sitemap.sitemap-section__sitemap
            ul.sitemap__list
                li.sitemap__item
                    a.sitemap__link(href="#")
                        picture.sitemap__picture
                            img.sitemap__img(src="img/category-img-1.webp" srcset="img/category-img-1@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                        
                        span.sitemap__title Cats
                
                li.sitemap__item
                    a.sitemap__link(href="#")
                        picture.sitemap__picture
                            img.sitemap__img(src="img/category-img-2.webp" srcset="img/category-img-2@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                        
                        span.sitemap__title Dogs
                
                li.sitemap__item
                    a.sitemap__link(href="#")
                        picture.sitemap__picture
                            img.sitemap__img(src="img/category-img-3.webp" srcset="img/category-img-3@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                        
                        span.sitemap__title Horses
                
                li.sitemap__item
                    a.sitemap__link(href="#")
                        picture.sitemap__picture
                            img.sitemap__img(src="img/category-img-8.webp" srcset="img/category-img-8@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                        
                        span.sitemap__title Lost Animal

                li.sitemap__item
                    a.sitemap__link(href="#")
                        picture.sitemap__picture
                            img.sitemap__img(src="img/category-img-4.webp" srcset="img/category-img-4@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                        
                        span.sitemap__title Other Pets
                    
                    ul.sitemap__sub
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Birds
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Fish
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Small Animals
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Farm Animals
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Other Animals
                    
                li.sitemap__item
                    a.sitemap__link(href="#")
                        picture.sitemap__picture
                            img.sitemap__img(src="img/category-img-5.webp" srcset="img/category-img-5@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                        
                        span.sitemap__title Accessoires

                    ul.sitemap__sub
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Beds and Sleeping Place
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Boxes, Car & Bicycle Accessories
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Leashes & Collars
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Toys
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Grooming & Shearing Machines
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Vermin & Tick Protection
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Food Bowls
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Sport & Training
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Kennels
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Clothes
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") GPS Trackers & Cameras
                
                li.sitemap__item
                    a.sitemap__link(href="#")
                        picture.sitemap__picture
                            img.sitemap__img(src="img/category-img-6.webp" srcset="img/category-img-6@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                        
                        span.sitemap__title Pet Food

                    ul.sitemap__sub
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Dry Food
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Wet Food
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Frozen Food
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Grain free food
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Special & Supplementary Food
                        li.sitemap__sub-item
                            a.sitemap__sub-link(href="#") Treats

                li.sitemap__item
                    a.sitemap__link(href="#")
                        picture.sitemap__picture
                            img.sitemap__img(src="img/category-img-7.webp" srcset="img/category-img-7@2x.webp 2x" loading="lazy" width="90" height="90"  alt="alt")
                        
                        span.sitemap__title Service

        .cities.sitemap-section__cities
            h3.section-title.cities__title List of Cities 
                span in United Kingdom

            ul.cities__list
                li.cities__item
                    a.cities__link(href="#") London
                li.cities__item
                    a.cities__link(href="#") Birmingham
                li.cities__item
                    a.cities__link(href="#") Liverpool
                li.cities__item
                    a.cities__link(href="#") Sheffield
                li.cities__item
                    a.cities__link(href="#") Bristol
                li.cities__item
                    a.cities__link(href="#") Glasgow
                li.cities__item
                    a.cities__link(href="#") Leicester
                li.cities__item
                    a.cities__link(href="#") Edinburgh
                li.cities__item
                    a.cities__link(href="#") Leeds
                li.cities__item
                    a.cities__link(href="#") Cardiff
                li.cities__item
                    a.cities__link(href="#") Manchester
                li.cities__item
                    a.cities__link(href="#") Stoke-on-Trent
                li.cities__item
                    a.cities__link(href="#") Coventry
                li.cities__item
                    a.cities__link(href="#") Sunderland
                li.cities__item
                    a.cities__link(href="#") Brent
                li.cities__item
                    a.cities__link(href="#") Birkenhead
                li.cities__item
                    a.cities__link(href="#") Nottingham
                li.cities__item
                    a.cities__link(href="#") Islington
                li.cities__item
                    a.cities__link(href="#") Reading
                li.cities__item
                    a.cities__link(href="#") Kingston upon Hull
                li.cities__item
                    a.cities__link(href="#") Preston
                li.cities__item
                    a.cities__link(href="#") Newport
                li.cities__item
                    a.cities__link(href="#") Swansea
                li.cities__item
                    a.cities__link(href="#") Bradford
                li.cities__item
                    a.cities__link(href="#") Southend-on-Sea
                li.cities__item
                    a.cities__link(href="#") London
                li.cities__item
                    a.cities__link(href="#") Birmingham
                li.cities__item
                    a.cities__link(href="#") Liverpool
                li.cities__item
                    a.cities__link(href="#") Sheffield
                li.cities__item
                    a.cities__link(href="#") Bristol
                li.cities__item
                    a.cities__link(href="#") Glasgow
                li.cities__item
                    a.cities__link(href="#") Leicester
                li.cities__item
                    a.cities__link(href="#") Edinburgh
                li.cities__item
                    a.cities__link(href="#") Leeds
                li.cities__item
                    a.cities__link(href="#") Cardiff
                li.cities__item
                    a.cities__link(href="#") Manchester
                li.cities__item
                    a.cities__link(href="#") Stoke-on-Trent
                li.cities__item
                    a.cities__link(href="#") Coventry
                li.cities__item
                    a.cities__link(href="#") Sunderland
                li.cities__item
                    a.cities__link(href="#") Brent
                li.cities__item
                    a.cities__link(href="#") Birkenhead
                li.cities__item
                    a.cities__link(href="#") Nottingham
                li.cities__item
                    a.cities__link(href="#") Islington
                li.cities__item
                    a.cities__link(href="#") Reading
                li.cities__item
                    a.cities__link(href="#") Kingston upon Hull
                li.cities__item
                    a.cities__link(href="#") Preston
                li.cities__item
                    a.cities__link(href="#") Newport
                li.cities__item
                    a.cities__link(href="#") Swansea
                li.cities__item
                    a.cities__link(href="#") Bradford
                li.cities__item
                    a.cities__link(href="#") Southend-on-Sea
                li.cities__item
                    a.cities__link(href="#") London
                li.cities__item
                    a.cities__link(href="#") Birmingham
                li.cities__item
                    a.cities__link(href="#") Liverpool
                li.cities__item
                    a.cities__link(href="#") Sheffield
                li.cities__item
                    a.cities__link(href="#") Bristol
                li.cities__item
                    a.cities__link(href="#") Glasgow
                li.cities__item
                    a.cities__link(href="#") Leicester
                li.cities__item
                    a.cities__link(href="#") Edinburgh
                li.cities__item
                    a.cities__link(href="#") Leeds
                li.cities__item
                    a.cities__link(href="#") Cardiff
                li.cities__item
                    a.cities__link(href="#") Manchester
                li.cities__item
                    a.cities__link(href="#") Stoke-on-Trent
                li.cities__item
                    a.cities__link(href="#") Coventry
                li.cities__item
                    a.cities__link(href="#") Sunderland
                li.cities__item
                    a.cities__link(href="#") Brent
                li.cities__item
                    a.cities__link(href="#") Birkenhead
                li.cities__item
                    a.cities__link(href="#") Nottingham
                li.cities__item
                    a.cities__link(href="#") Islington
                li.cities__item
                    a.cities__link(href="#") Reading
                li.cities__item
                    a.cities__link(href="#") Kingston upon Hull
                li.cities__item
                    a.cities__link(href="#") Preston
                li.cities__item
                    a.cities__link(href="#") Newport
                li.cities__item
                    a.cities__link(href="#") Swansea
                li.cities__item
                    a.cities__link(href="#") Bradford
                li.cities__item
                    a.cities__link(href="#") Southend-on-Sea
                li.cities__item
                    a.cities__link(href="#") London
                li.cities__item
                    a.cities__link(href="#") Birmingham
                li.cities__item
                    a.cities__link(href="#") Liverpool
                li.cities__item
                    a.cities__link(href="#") Sheffield
                li.cities__item
                    a.cities__link(href="#") Bristol
                li.cities__item
                    a.cities__link(href="#") Glasgow
                li.cities__item
                    a.cities__link(href="#") Leicester
                li.cities__item
                    a.cities__link(href="#") Edinburgh
                li.cities__item
                    a.cities__link(href="#") Leeds
                li.cities__item
                    a.cities__link(href="#") Cardiff
                li.cities__item
                    a.cities__link(href="#") Manchester
                li.cities__item
                    a.cities__link(href="#") Stoke-on-Trent
                li.cities__item
                    a.cities__link(href="#") Coventry
                li.cities__item
                    a.cities__link(href="#") Sunderland
                li.cities__item
                    a.cities__link(href="#") Brent
                li.cities__item
                    a.cities__link(href="#") Birkenhead
                li.cities__item
                    a.cities__link(href="#") Nottingham
                li.cities__item
                    a.cities__link(href="#") Islington
                li.cities__item
                    a.cities__link(href="#") Reading
                li.cities__item
                    a.cities__link(href="#") Kingston upon Hull
                li.cities__item
                    a.cities__link(href="#") Preston
                li.cities__item
                    a.cities__link(href="#") Newport
                li.cities__item
                    a.cities__link(href="#") Swansea
                li.cities__item
                    a.cities__link(href="#") Bradford
                li.cities__item
                    a.cities__link(href="#") Southend-on-Sea

        .cities.sitemap-section__cities
            h3.section-title.cities__title List of Cities 
                span in France

            ul.cities__list
                li.cities__item
                    a.cities__link(href="#") London
                li.cities__item
                    a.cities__link(href="#") Birmingham
                li.cities__item
                    a.cities__link(href="#") Liverpool
                li.cities__item
                    a.cities__link(href="#") Sheffield
                li.cities__item
                    a.cities__link(href="#") Bristol
                li.cities__item
                    a.cities__link(href="#") Glasgow
                li.cities__item
                    a.cities__link(href="#") Leicester
                li.cities__item
                    a.cities__link(href="#") Edinburgh
                li.cities__item
                    a.cities__link(href="#") Leeds
                li.cities__item
                    a.cities__link(href="#") Cardiff
                li.cities__item
                    a.cities__link(href="#") Manchester
                li.cities__item
                    a.cities__link(href="#") Stoke-on-Trent
                li.cities__item
                    a.cities__link(href="#") Coventry
                li.cities__item
                    a.cities__link(href="#") Sunderland
                li.cities__item
                    a.cities__link(href="#") Brent
                li.cities__item
                    a.cities__link(href="#") Birkenhead
                li.cities__item
                    a.cities__link(href="#") Nottingham
                li.cities__item
                    a.cities__link(href="#") Islington
                li.cities__item
                    a.cities__link(href="#") Reading
                li.cities__item
                    a.cities__link(href="#") Kingston upon Hull
                li.cities__item
                    a.cities__link(href="#") Preston
                li.cities__item
                    a.cities__link(href="#") Newport
                li.cities__item
                    a.cities__link(href="#") Swansea
                li.cities__item
                    a.cities__link(href="#") Bradford
                li.cities__item
                    a.cities__link(href="#") Southend-on-Sea
                li.cities__item
                    a.cities__link(href="#") London
                li.cities__item
                    a.cities__link(href="#") Birmingham
                li.cities__item
                    a.cities__link(href="#") Liverpool
                li.cities__item
                    a.cities__link(href="#") Sheffield
                li.cities__item
                    a.cities__link(href="#") Bristol
                li.cities__item
                    a.cities__link(href="#") Glasgow
                li.cities__item
                    a.cities__link(href="#") Leicester
                li.cities__item
                    a.cities__link(href="#") Edinburgh
                li.cities__item
                    a.cities__link(href="#") Leeds
                li.cities__item
                    a.cities__link(href="#") Cardiff
                li.cities__item
                    a.cities__link(href="#") Manchester
                li.cities__item
                    a.cities__link(href="#") Stoke-on-Trent
                li.cities__item
                    a.cities__link(href="#") Coventry
                li.cities__item
                    a.cities__link(href="#") Sunderland
                li.cities__item
                    a.cities__link(href="#") Brent
                li.cities__item
                    a.cities__link(href="#") Birkenhead
                li.cities__item
                    a.cities__link(href="#") Nottingham
                li.cities__item
                    a.cities__link(href="#") Islington
                li.cities__item
                    a.cities__link(href="#") Reading
                li.cities__item
                    a.cities__link(href="#") Kingston upon Hull
                li.cities__item
                    a.cities__link(href="#") Preston
                li.cities__item
                    a.cities__link(href="#") Newport
                li.cities__item
                    a.cities__link(href="#") Swansea
                li.cities__item
                    a.cities__link(href="#") Bradford
                li.cities__item
                    a.cities__link(href="#") Southend-on-Sea
                li.cities__item
                    a.cities__link(href="#") London
                li.cities__item
                    a.cities__link(href="#") Birmingham
                li.cities__item
                    a.cities__link(href="#") Liverpool
                li.cities__item
                    a.cities__link(href="#") Sheffield
                li.cities__item
                    a.cities__link(href="#") Bristol
                li.cities__item
                    a.cities__link(href="#") Glasgow
                li.cities__item
                    a.cities__link(href="#") Leicester
                li.cities__item
                    a.cities__link(href="#") Edinburgh
                li.cities__item
                    a.cities__link(href="#") Leeds
                li.cities__item
                    a.cities__link(href="#") Cardiff
                li.cities__item
                    a.cities__link(href="#") Manchester
                li.cities__item
                    a.cities__link(href="#") Stoke-on-Trent
                li.cities__item
                    a.cities__link(href="#") Coventry
                li.cities__item
                    a.cities__link(href="#") Sunderland
                li.cities__item
                    a.cities__link(href="#") Brent
                li.cities__item
                    a.cities__link(href="#") Birkenhead
                li.cities__item
                    a.cities__link(href="#") Nottingham
                li.cities__item
                    a.cities__link(href="#") Islington
                li.cities__item
                    a.cities__link(href="#") Reading
                li.cities__item
                    a.cities__link(href="#") Kingston upon Hull
                li.cities__item
                    a.cities__link(href="#") Preston
                li.cities__item
                    a.cities__link(href="#") Newport
                li.cities__item
                    a.cities__link(href="#") Swansea
                li.cities__item
                    a.cities__link(href="#") Bradford
                li.cities__item
                    a.cities__link(href="#") Southend-on-Sea
                li.cities__item
                    a.cities__link(href="#") London
                li.cities__item
                    a.cities__link(href="#") Birmingham
                li.cities__item
                    a.cities__link(href="#") Liverpool
                li.cities__item
                    a.cities__link(href="#") Sheffield
                li.cities__item
                    a.cities__link(href="#") Bristol
                li.cities__item
                    a.cities__link(href="#") Glasgow
                li.cities__item
                    a.cities__link(href="#") Leicester
                li.cities__item
                    a.cities__link(href="#") Edinburgh
                li.cities__item
                    a.cities__link(href="#") Leeds
                li.cities__item
                    a.cities__link(href="#") Cardiff
                li.cities__item
                    a.cities__link(href="#") Manchester
                li.cities__item
                    a.cities__link(href="#") Stoke-on-Trent
                li.cities__item
                    a.cities__link(href="#") Coventry
                li.cities__item
                    a.cities__link(href="#") Sunderland
                li.cities__item
                    a.cities__link(href="#") Brent
                li.cities__item
                    a.cities__link(href="#") Birkenhead
                li.cities__item
                    a.cities__link(href="#") Nottingham
                li.cities__item
                    a.cities__link(href="#") Islington
                li.cities__item
                    a.cities__link(href="#") Reading
                li.cities__item
                    a.cities__link(href="#") Kingston upon Hull
                li.cities__item
                    a.cities__link(href="#") Preston
                li.cities__item
                    a.cities__link(href="#") Newport
                li.cities__item
                    a.cities__link(href="#") Swansea
                li.cities__item
                    a.cities__link(href="#") Bradford
                li.cities__item
                    a.cities__link(href="#") Southend-on-Sea
