section.header-section
    picture.header-section__right-bg.header-section__right-bg--bottom
        img.header-section__right-bg-img(src="img/terms-img-1.webp" srcset="img/terms-img-1@2x.webp 2x" loading="lazy" width="260" height="240"  alt="alt")

    .container.header-section__container
        h1.page-title.header-section__title Terms & Conditions

        nav.breadcrumbs.header-section__breadcrumbs(aria-label="breadcrumb")
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Home
                li.breadcrumbs__item(aria-current="page") Terms & Conditions
